workflow.json
{
  "name": "safty page",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "/fb-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ff279b2f-cf38-49dd-ba9d-1944cda01988",
      "name": "Webhook",
      "webhookId": "ad6ef7d3-d16e-4a0e-85a7-22ac531f21e1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "457c464c-fe48-43e3-886a-8b28c38038d3",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a8064f4d-a788-4cfa-90e8-ba2862eddfb6",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "prodverify",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        -144
      ],
      "id": "3713b8c0-aff5-46d6-9f48-80c8ed498273",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -160
      ],
      "id": "42660d3b-ce8e-411c-9e01-91c965c7667a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "انت مساعد شخصي لصفحة تفصيل ستائر \nاسمها Elsafty curtains shop\nمهمتك ترد علي الرسايل برسالة ترحيب قصيرة وتحاول تساعد الزباين توصل للتفاصيل اللي محتاجينها \nحاول ترد باختصار وباللهجة المصرية "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        112
      ],
      "id": "d26897fa-f7cc-4b66-8742-56bed51feb39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        320
      ],
      "id": "8ff534ba-842d-4a6f-a2e5-6199b3c45a28",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "41X2yx9mIX0PUQgJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        320
      ],
      "id": "482eb59b-050d-4892-82c6-39ec39ddd583",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages?access_token=[access_token]",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{{ JSON.stringify({\n  recipient: {\n    id: \"[recipient]\"\n  },\n  message: {\n    text: $json.output\n  }\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        128
      ],
      "id": "552b7a2d-4410-40e1-980a-26d34e4f924c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48e89ddb-071e-4bba-9d61-34815d9e09aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db6db84d8e00fcc807c4b6ef70076fdeb5a98bc02fa2fb8fb727fb8afc709023"
  },
  "id": "Kt1X8Txb2E71PsJ5",
  "tags": []
}